<div class="container-fluid masthead">
    <div class="row h-100">
        <div class="col-md-4 mx-auto my-auto">
            <div class="card">
                <div class="card-img-top text-center pt-4 pb-4">
                    <span class="text-warning h3">&lt;/</span><span class="text-light h3">VJS</span><span class="text-warning h3">&gt;</span>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-row mb-4">
                            <input type="text" placeholder="Correo electrónico" class="form-control signin-input">
                        </div>
                        <div class="form-row mb-4">
                            <input type="password" placeholder="Contraseña" class="form-control signin-input">
                        </div>
                        <div class="form-row mb-5">
                            <a class="form-control border-0 p-0" href="/dashboard"><button type="button" class="form-control btn btn-outline-warning">Acceder</button></a>
                        </div>
                        <div class="form-row text-center text-light">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        Registrarse <small>|</small> Recuperar Contraseña
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>