<div class="container-fluid signin-masthead">
    <div class="row h-100">
        <div class="col-lg-4 col-md-6 mx-auto my-auto">
            <div class="card shadow pl-3 pr-3 signin-form">
                <div class="card-img-top text-center pt-4 pb-4">
                    <p class="text-light h2 visage-logo">VisageJS</p>                    
                </div>
                <div class="card-body">
                    <form [formGroup]="signinForm">
                        <div class="form-row">
                            <div class="col-12 text-center">
                                <p class="font-weight-light h5 text-light">Inicio de sesión</p>
                            </div>
                        </div>
                        <div class="form-row mt-3 mb-4">
                            <input type="text" placeholder="Correo electrónico" class="form-control signin-input" 
                            [ngClass]="{'border border-danger': email.invalid && (email.touched || email.dirty)}" formControlName="email">
                            <span class="text-danger" *ngIf="email.invalid && ( email.touched || email.dirty) && !email.hasError('emailError')">*Campo obligatorio</span>
                            <span class="text-danger" *ngIf="email.hasError('emailError')">*Correo incorrecto</span>
                        </div>
                        <div class="form-row mb-5">
                            <input type="password" placeholder="Contraseña" class="form-control signin-input" 
                            [ngClass]="{'border border-danger': password.invalid && (password.touched || password.dirty)}" formControlName="password">
                            <span class="text-danger" *ngIf="password.invalid && ( password.touched || password.dirty) && !password.hasError('passwordError')">*Campo obligatorio</span>
                            <span class="text-danger" *ngIf="password.hasError('passwordError')">*Contraseña incorrecta</span>
                        </div>
                        <div class="form-row mt-5 pt-3 mb-5">
                            <button type="button" class="form-control sign-submit" (click)="validate()">Acceder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>