<div class="modal-header">
    <h4 class="modal-title">{{snippetName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid snippet-editor">
      <div class="row h-100">
        <div class="col-12 h-100">
          <ngx-codemirror class="editor"
            [(ngModel)]="content"
            [options]="{
              lineNumbers: true,
              theme: 'material',
              mode: language,
              lineWrapping: true
            }"
          ></ngx-codemirror>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="updateSnippet()">Guardar</button>
</div>