@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap');

.visage-logo{
    font-family: 'Spartan', sans-serif;
}

.navbar-dark{
    background-color: rgb(42, 50, 60);
}

body{
    background-color: rgb(52, 58, 64);;
}
.xeditor-main-container{
    height: 100vh;
    padding-top: 5rem;
    background-color: rgb(41, 49, 59);
}

#btn-bootstrap{
    background-color: rgb(121, 82, 179);
}
#btn-materialize{
    background-color: rgb(238, 110, 115);
}
#btn-jquery{
    background-color: rgb(7, 105, 173);
}
#btn-fontawesome{
    background-color: rgb(51, 154, 240);
}
