<nav class="navbar navbar-expand-lg navbar-dark mb-3 fixed-top shadow">

    <a class="navbar-brand visage-logo" [routerLink]="'.'">VisageJS</a>
    <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fas fa-chevron-right text-primary"></i>&nbsp;
            <i class="fas fa-laptop-code text-primary"></i>&nbsp;{{projectName}} <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-lg-3 mb-2 mb-lg-0">
                <button type="button" class="btn btn-outline-primary" (click)="render()"><i class="fas fa-play"></i> Actualizar</button>
            </li>
            <li class="nav-item mr-lg-3 mb-2 mb-lg-0">
                <button type="button" class="btn btn-outline-success" (click)="downloadProject()"><i class="fas fa-download"></i> Descargar</button>
            </li>
            <li class="nav-item" ngbDropdown>
                <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
                    <i class="fas fa-user"></i> {{username}}
                </a>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                    <a ngbDropdownItem href="#" (click)="logOut(); $event.preventDefault()"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid xeditor-main-container">
    <div class="row mb-4">
       <div class="col-12">
           <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 editor-container mb-4 mb-lg-0 pr-md-1 pl-md-1">
                        <app-editor [lenguaje]="'htmlmixed'" [lenguajeNombre]="'HTML'" (contentFromEditor)="updateHTMLContent($event)" [content]="htmlContent"></app-editor>
                    </div>
                    <div class="col-md-4 editor-container mb-4 mb-lg-0 pl-md-1 pr-md-1">
                        <app-editor [lenguaje]="'javascript'" [lenguajeNombre]="'Javascript'" (contentFromEditor)="updateJSContent($event)" [content]="jsContent"></app-editor>
                    </div>
                    <div class="col-md-4 editor-container mb-2 mb-lg-0 pl-md-1 pr-md-1">
                        <app-editor [lenguaje]="'css'" [lenguajeNombre]="'CSS'" (contentFromEditor)="updateCSSContent($event)" [content]="cssContent"></app-editor>
                    </div>
                </div>
           </div>
       </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 mx-auto pl-0 pr-0">
            <app-frame [content]="frameContent" 
            (emitBootstrapToggle)="toggleBootstrap($event)" [bootstrap]="includeBootstrap" 
            (emitMaterializeToggle)="toggleMaterialize($event)" [materialize]="includeMaterialize" 
            (emitJQueryToggle)="toggleJQuery($event)" [jquery]="includeJQuery" 
            (emitFontawesomeToggle)="toggleFontawesome($event)" [fontawesome]="includeFontawesome"></app-frame>
        </div>
    </div>
</div>