<div class="card project-orverwvied p-2 mb-2 shadow" (click)="openEditor()">   
    <iframe [srcdoc]="innerContent | noSanitize" class="project-orverview iframe-container p-2"></iframe>
        <div class="card-img-top text-center" *ngIf="content.type==='snippet'">
            <div class="icon-container text-light text-center pt-4 pb-4">
                <i class="fas fa-file-alt fa-7x"></i>
            </div>
        </div>
    <div class="card-body">
        <p class="h5 text-light">{{content.name}}</p>        
        <small class="text-muted">Por {{content.author}}</small>
        <button class="btn" [ngClass]="{'btn-outline-warning': content.alreadyPinned, 'btn-outline-dark': !content.alreadyPinned}" style="float: right" [ngbTooltip]="tooltip" 
        (click)="togglePin(); $event.stopPropagation()">
            <i class="fas fa-thumbtack"></i>
        </button>
    </div>
</div>