<div class="modal-header">
    <h4 class="modal-title">Guardar proyecto como</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="text" placeholder="Escribe un nombre para el proyecto" class="form-control" [(ngModel)]="projectName">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancelar</button>
    <button type="button" class="btn btn-primary" [ngClass]="{'disabled': projectName===''}" (click)="addProject()">Guardar</button>
</div>