<app-editor-navbar (guardar)="setFrameContent()"></app-editor-navbar>
<div class="container-fluid main-container">
    <div class="row mb-4">
       <div class="col-12">
           <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 editor-container mb-4 mb-lg-0 pr-md-1 pl-md-1">
                        <app-editor [lenguaje]="'htmlmixed'" [lenguajeNombre]="'HTML'" (contentFromEditor)="updateHTMLContent($event)"></app-editor>
                    </div>
                    <div class="col-md-4 editor-container mb-4 mb-lg-0 pl-md-1 pr-md-1">
                        <app-editor [lenguaje]="'javascript'" [lenguajeNombre]="'Javascript'" (contentFromEditor)="updateJSContent($event)"></app-editor>
                    </div>
                    <div class="col-md-4 editor-container mb-2 mb-lg-0 pl-md-1 pr-md-1">
                        <app-editor [lenguaje]="'css'" [lenguajeNombre]="'CSS'" (contentFromEditor)="updateCSSContent($event)"></app-editor>
                    </div>
                </div>
           </div>
       </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 mx-auto pl-0 pr-0">
            <app-frame [content]="frameContent" (emitBootstrapToggle)="toggleBootstrap($event)" (emitMaterializeToggle)="toggleMaterialize($event)" (emitJQueryToggle)="toggleJQuery($event)" (emitFontawesomeToggle)="toggleFontawesome($event)"></app-frame>
        </div>
    </div>
</div>