body{
    background-color: rgb(52, 58, 64);
}
.main-container-dashboard{
    padding-top: 5rem;
}
.outline-form-input{
    background-color: rgb(52, 58, 64);
    color: white;
    border-color: rgb(255, 193, 7);
}
.folder{
    cursor: pointer;
    background-color: rgba(31, 34, 41, 1);
}
.emptyDashboard-advice{
    opacity: 0.7;
}