.listedProject{
    cursor: pointer;
    transition: 0.5s;
}
.listedProject:hover{
    background-color: rgb(39, 75, 112);
}
.btn-group .btn-outline-danger{
    border-left: none;
}
.btn-group .btn-outline-success{
    border-right-color: rgb(69, 77, 85);
}